*{
    margin:0;padding:0
}
#sayac{
    font-family: TTKB Dik Temel Abece;
    color: #000;
    font-size: 40px;
    font-weight:bold;
    line-height:20px;
    padding: 20px;
    }
button{
font-family: TTKB Dik Temel Abece;
color: #000;
font-size: 22px;
background: #f7f7f7;
padding: 10px;
}